.bir{
    width: 500px !important;
}
.ikki{
    border: 3px solid white;
    margin-left: 150px!important;
    border-radius: 1px !important;
}
.uch{
    margin-left: 620px !important;
}
.tort{
    color: white !important;
}